{% extends 'base.html.twig' %}

{% block title %}Welcome on Shaunta's Boutique{% endblock %}

{% block body %}



	<!-- CONTENU PRINCIPAL-->

			<h2 class="text-center">Feature Products</h2>

			{% for prod in products %}
			<div class="col-md-3 product-div">
				<h4 class="product_title text-center">{{ prod.title }}</h4>
				
				<img src="{{ prod.image }}" alt="{{ prod.image }}" class="img-thumb center-block product-img"/>
				<!-- <p class="list-price text-danger text-center">
					List Price: <s>$</s>
				</p> -->
				<p class="price text-center">
					Our Price : ${{ prod.price }}
				</p>
				<button type="button" class="btn btn-sm btn-success center-block" onclick="detailModal({{ prod.id }})">
					Details
				</button>
			</div>
			{% endfor %}
{% endblock %}
