<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}{% endblock %}
	<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/main.css') }}">
	<script src="{{ asset('js/jquery.min.js') }}"></script>
	<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<a href="" class="navbar-brand">Shaunta's Boutique</a>
			<ul class="nav navbar-nav">
				{% for p_cat in cat %}
				<li class="dropdown">
					<a href="#" class="dropdown" data-toggle="dropdown">
						{{ p_cat.category }}<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						{% for c_cat in p_cat.child %}
						<li><a href="category.php?cat=<?=$parent2['id'];?>">{{ c_cat.category }}</a></li>
						{% endfor %}
					</ul>
				</li>
				{% endfor %}
				<li><a href="cart.php"><span class="glyphicon glyphicon-shopping-cart"></span> My Cart</a></li>
			</ul>
		</div>
	</nav>
	<!-- en tete sous la navigation (fleurs et logo avec effets de scroll) -->
	<div id="headerWrapper">	
		<div id="back-flower"></div>
		<div id="logo-text"></div>
		<div id="for-flower"></div>
	</div>
	<div class="container-fluid">	
		<!-- BARRE A GAUCHE-->
		<div class="col-md-2">
			<h3 class="text-center">Search By :</h3>
			<h4 class="text-center">Price</h4>

			<form action="search.php" method="post">
				<input type="hidden" name="cat" value="<?=$cat_id;?>">
				<input type="hidden" name="price_sort" value="0">
				<input type="radio" name="price_sort" value="low">Low to High<br>
				<input type="radio" name="price_sort" value="high">High to Low<br><br>

				<input type="text" name="min_price" class="price-range" placeholder="Min $" value="">To
				<input type="text" name="max_price" class="price-range" placeholder="Max $" value=""><br><br>

				<h4 class="text-center">Brand</h4>
				<input type="radio" name="brand" value="">All<br>
				{% for br in brand %}
					<input 
					type="radio" 
					name="brand" 
					value="{{ br.id }}"
					>
					{{ br.brand }}
					<br>
				{% endfor %}
				<input type="submit" value="Search" class="btn btn-xs btn-primary">
			</form>
		</div>




			<!-- CONTENU PRINCIPAL BODY -->
		<div class='col-md-8'>
			<div class="row">
				{% block body %}{% endblock %}
			</div>
		</div>







		<!-- BARRE A DROITE -->
		<div class="col-md-2">
			<h3 class="text-center">Shopping Cart</h3>
			<div>

				<p>Your Shopping Cart is empty.</p>
				<!-- <table class="table table-condensed" id="cart_widget">
					<tbody>

						<tr>
							<td><?=$item['quantity'];?></td>
							<td><?=substr($product['title'], 0, 15);?></td>
							<td><?=money($item['quantity'] * $product['price']);?></td>
						</tr>
						<tr>
							<td></td>
							<td>Sub Total</td>
							<td></td>
						</tr>
					</tbody>
				</table> -->

				<a href="cart.php" class="btn btn-xs btn-primary pull-right">View Cart</a>
				<div class="clearfix"></div>
			</div>
			<h3 class="text-center">Popular Items</h3>
			<!-- <div id="recent_widget">
				<table class="table table-condensed">
						<tr>
							<td></td>
							<td><a class="text-primary" onclick="detailModal('<?=$id;?>')">View</a></td>
						</tr>
				</table>
			</div> -->
		</div>
		<!-- PIED DE PAGE, FOOTER -->
	</div>
	<footer class="text-center" id="footer">	
		&copy; Copyright 2013-2017 Shaunta's Boutique
	</footer>
	<script src="{{ asset('js/fonctions.js') }}" type="text/javascript"></script>
	{% block javascripts %}{% endblock %}

</body>
</html>
